/*-- scss:defaults --*/

// warmer grays (hue 240)
$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black:    #000 !default;

// $blue:    #2780e3 !default;
// $indigo:  #6610f2 !default;
// $purple:  #170C3A !default;
// $pink:    #A52C60 !default;
// $red:     #CF4446 !default;
// $orange:  #EE6A24 !default;
// $light-orange:  #FB9E07 !default;
// $yellow:  #F6D645 !default;
// $green:   #118230 !default;
// $teal:    #20c997 !default;
// $cyan:    #3093CF !default;

$orange: #E56B6F !default;
$green: #06D6A0 !default;
$blue: #7067CF !default;
$purple: #6e1f55 !default;
$light-orange: #F9C784 !default;

// Links
$link-color: $orange !default;
$link-decoration: none !default;
$link-hover-color: $purple !default;
$link-hover-decoration: underline !default;


// Navbar
$navbar-bg: $blue !default;
$navbar-fg: $white !default;
$navbar-hl: $light-orange !default;


@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

$font-family-sans-serif: "Libre Franklin", sans-serif !default;

$headings-font-family: "Kanit", sans-serif !default;
$headings-font-weight: 600 !default;

$navbar-font-family: "Kanit", sans-serif !default;
$toc-font-family: "Kanit", sans-serif !default;
// $footer-font-family: "kanit" !default;

// font sizes;
$font-size-base:   1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;


/*-- scss:rules --*/

.navbar {
    font-family: $navbar-font-family;
}
// navbar
.navbar-title {
    font-size: $font-size-base * 1.75;
  }